<div class="header container">
    <div class="row">
        <div class="title container">
            <h1 class="page-title">{{title}}</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="container">
            <ul class="nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/help">Help</a>
                </li>
                <li>
                    <a href="/weather">Weather</a>
                </li>       
            </ul>
        </div>
    </div>
</div>

